.carousel,article{
	background-color: black;
}
article{
	width: 33%;
	display: inline-block;
}
input,textarea{
	width: 70%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #1d56a3;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}
li a:active{
	color: black;
	background-color: #ffffff;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #717171;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: black;
	}

.dropdown:hover .dropdown-content {
	display: block;
}
a#list{
	color: #c11be4;
	float: right;
}
a#list:hover, a#colorac:hover{
	color: #f46800;
}
a#colorac{
	color: #00fff9;
}
@media screen and (orientation: portrait)
{
ul
	{
		font-size: 50px;
	}
}